body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e4e8eb;
}

.calculator {
    border: 2px solid #020608;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#display {
    width: calc(94% - 20px);
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    background-color: #ecf0f1;
}

.buttons {
    display: grid;
    border: 1px solid #c3f50d;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.butStyle {
    padding: 15px;
    font-size: 20px;
    border: 0px;    
    border-radius: 20px 20px 20px 20px; 
    background-color: #f0f0f0;
    color: #c3f50d;
    cursor: pointer;
    font-weight:600;
    background-color: #034b94;
}

.butStyle1 {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 20px 20px 20px 20px;
    background-color: #f0f0f0;
    color: red;
    cursor: pointer;
    box-shadow: 5px 3px 3px  rgb(102, 101, 101);
    background-color: #0768c9;
}


